include ../mixins/header
include ../mixins/head

- var viewQuery = query && query.view ? query.view : 'compact'
- var sortQuery = query && query.sort ? query.sort + (query.t ? '&t=' + query.t : '') : 'hot'
doctype html
html
  +head("subscriptions")
  include ../mixins/subUtils
  body
    main#content
      +header(user)
      div.hero
        h1 subscriptions

        if message
          div.dashboard-error-message
            | #{message}

        p
          if subs.length === 0
            | you are not subscribed to any subreddits

          each s in subs
            - var subreddit = s.subreddit
            - var isSubbed = true
            div.sub-title
              h4
                a(href=`/r/${subreddit}?sort=${sortQuery}&view=${viewQuery}`)
                  | r/#{subreddit}
              div#button-container
                if isSubbed
                  button(onclick=`toggleSub('${subreddit}')` id=`thinger_${subreddit}`) unsubscribe
                else
                  button(onclick=`toggleSub('${subreddit}')` id=`thinger_${subreddit}`) subscribe

        h2 import from multireddit
        form(action="/import-reddit-multi" method="post").search-bar
          input(type="text" name="multi" placeholder="https://www.reddit.com/r/AskReddit+pics/" required).search-input
          button(type="submit").search-button go
